.breadcrumb{
    color: black;
}

nav{
background-color: #5279bb;
color: #000;
}
nav a ul, nav a{
    color: white;
}



#favorite{
color: white;
    font-size-adjust: inherit;
}
.card{
    width: 100%;
    color: #000;
    margin-bottom: 0px;

}
body{
    background-color: #f7f7f7;
    color: #555555;
}
#intro{
    background-color: #5279bb;
    font-size: 3em;
    }
a.brand-logo{
    color: white;
    margin-left: 50px;
    margin-top: 5px;
}
ul li a{
    color: #ffffff;
    
}

.btn-flat, .btn{
    border-radius: 15px;
    text-transform: capitalize;    
    font-weight: bold;
    color: white;
    
}
.tabs.tabs-transparent .tab a, .tabs.tabs-transparent .tab.disabled a, .tabs.tabs-transparent .tab.disabled a:hover{
    color: #bdd4fd;
}
.tabs.tabs-transparent .tab a:hover, .tabs.tabs-transparent .tab a.active {
    color: white;
    font-weight: inherit;
}
.tabs.tabs-transparent .tab a.active{
    font-weight: bold;
}
.tabs.tabs-transparent .indicator {
    background-color: white;
}
.carousel .carousel-item{
    width:100%;
}

.switch{
    margin-top: 3%;
}
.tabs {
    position: fixed;
    position: static;
  }
  #home_tabs{
      margin-left: 50px;
  }
#tex{
    height: 80%;
    margin-top: 30%;
    font-size-adjust: inherit;
}
blockquote{
    color: #fff;
    border-left: 5px solid #ffe000;
}
html{
    height: 100vh;
}
.carousel {
height: 100vh !important;
}
#test1, #test2, #test3{
    height: 100vh !important;
}
.link{
    height: 87px;
    background-color: #5279bb;
    color:white;
    
}
.url-{
    color: #555555 !important;
}
.collection small.url-{
    color: #555555 !important;
}
#mobile-demo li{
    width: 100%;
}
